{% if pagina == 3 %}
{% extends "homenewgg.html" %}
{% elif pagina == 2 %}
{% extends "homenewg.html" %}
{% else %}
{% extends "homenew.html" %}
{% endif %}
{% block conteudo %}
<div class="conteudo-suaconta">
        <div class="texto-elemento-suaconta">
                <div class="tituloelemento">
                    <span id="tituloElemento">Dados Atuais</span>
                </div>
                <div class="btn_criar">
                        <a href="alteraU">
                            <button class="btn_elemento">
                                <span class="material-symbols-outlined">edit</span>
                                <h3>Alterar</h3>
                            </button>
                        </a>
                </div>
        </div>  
        <hr>      
        <div class="elemento-suaconta">
                <div class="blocoElemento-suaconta">
                        <div class="inputElemento-suaconta">
                                <input type="hidden" value="{{idUsuario}}" name="idUsuario">
                                <input type="hidden" value="{{idFuncionario}}" name="idFuncionario">
                             
                                <div class="inputValorTeste">
                                        <h3 id="textoInputElemento">Nome completo</h3>
                                        <span>{{nome}}</span>
                                </div>
                         
                                <span>
                                <div class="inputValorTeste">
                                        <h3 id="textoInputElemento">Email</h3>
                                        <span>{{email}}</span>
                                </div>
                                </span>
                                <div class="inputValorTeste">
                                        <h3 id="textoInputElemento">Endereço</h3>
                                        <span>{{endereco}}</span>
                                </div>
                                <div class="inputValorTeste">
                                        <h3 id="textoInputElemento">CPF</h3>
                                        <span>{{cpf}}</span>
                                </div>
                               
                                        <h3 id="textoInputElemento">Gênero</h3>
                                        <span>{{genero}}</span>
                                </div>
                                <div class ="inputValor">
                                        <span id="textoInputElemento">Data de Nascimento: </span>
                                        <input id="textoInputElemento" type="date" name="datanasc" value={{dataNasc}} readonly required>
                                </div>
                                {% if loginVisivel == False %}
                                        <input type="hidden" value="{{login}}" name="login">
                                {% else %}
                                <div class ="inputValor">
                                        <span id="textoInputElemento">Login:<br>{{login}}</span>
                                </div>
                                 {% endif %}
                                <div class ="inputValor">
                                        <span id="textoInputElemento">Senha: <br>{{senha}}</span>
                                </div>
                        </div>
                </div>
        </div>
</div>
<script src="../static/scripts/confirmarsenha.js"></script>
<script src="../static/scripts/validarCPF.js"></script>
{% endblock %}